{#
/**
 * @file
 * Display Site location and settings.
 *
 * @see template_preprocess_html()
 *
 */
 #}
 <div>
  <table>
    <tr>
      <td>City</td>
      <td>Country</td>
      <td>Timezone</td>
      <td>Time</td>
    </tr>
    <tr>
      <td>{{ build.city }}</td>
      <td>{{ build.country }}</td>
      <td>{{ build.timezone }}</td>
      <td>{{ current_time }}</td>
    </tr>
  </table>
 </div>